/*
Theme Name:     fxos-theme
Template:       twentytwelve
Description:    Firefox OSコミュニティ用
Author:         tommmmy
Version:        0.1.0
*/

@import url('/wp-content/themes/fxos-theme/assets/css/common.css');
@import url('/wp-content/themes/fxos-theme/assets/css/font-awesome.min.css');
